:root {
    --main-gold: hsl(53,81%,45%);
}

.food-img {
    object-fit: cover;
    width: 256px;
    height: 128px;
    border-color: var(--main-gold);
    border-style: solid;
}

.price {
    color: var(--main-gold);
}